<nav class="navbar navbar-expand-lg navbar-light" id="">
    <div class="container-fluid">
      <a href="index.html" class="navbar-brand"> LOGO </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-center"
        id="#navbarContent">
        <ul class="navbar-nav">
          <li class="nav-item side-border-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item side-border-nav">
            <a class="nav-link" href="/lowongan/lowongan.html">Lowongan</a>
          </li>
          <li class="nav-item side-border-nav">
            <a class="nav-link" href="#">Tentang kami</a>
          </li>
          <li class="nav-item side-border-nav">
            <a href="#" class="nav-link">Persyaratan Document</a>
          </li>
        </ul>
      </div>
      <div class="d-flex">
        <button
          type="button" class="btn btn-outline-dark btn-lg download-button reg-button" onclick="window.location.href='/registration_form/registration.html';">
          Daftar
        </button>
        <button
          type="button"
          class="btn btn-outline-dark btn-lg download-button log-button reg-button">
          Login
        </button>
      </div>
    </div>
  </nav>