    <!-- Carousel -->
    <section id="main-carousel">
        <div class="container-fluid">
          <div
            id="information-carousel"
            class="carousel slide"
            data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <div class="row d-flex justify-content-center">
                  <div class="col-8 col-md-4">
                    <h2>Apasaja si persyaratan Tokutei Ginou?</h2>
                    <p class="font-size-car-1">
                      Masih bingung apa itu Hyoukachoso, SSW, dan SenmonKyu?
                    </p>
                    <button type="button" class="btn btn-dark button-pad">
                      Pelajari Selengkapnya
                    </button>
                  </div>
                  <div class="col-8 col-md-4">
                    <img
                      src="image/tokutei2.png"
                      alt="tokutoku img"
                      class="TG-img" />
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <div class="row d-flex justify-content-center">
                  <div class="col-8 col-md-4">
                    <h2>Tentang Kami</h2>
                    <p class="font-size-car-2">
                      PT. Watari berdiri Maret 2013, sebagai salah satu perusahaan
                      dalam Minori Group yang didirikan dengan memiliki misi yaitu
                      dalam proses “Matching”
                    </p>
                    <button type="button" class="btn btn-dark button-pad">
                      Pelajari Selengkapnya
                    </button>
                  </div>
                  <div class="col-8 col-md-4">
                    <img
                      src="image/watari3.jpg"
                      alt="tokutoku img"
                      class="TG-img-2" />
                  </div>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#information-carousel"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#information-carousel"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </section>
      <!-- End Of Carousel -->
  
      <!-- Register Float -->
      <div class="register-float">
        <a class="register-float-icon" href="#"><i class="fa-regular fa-circle-user"></i></a>
        <div class="reg-pop-up">
          <button type="button" class="btn btn-outline-info" onclick="window.location.href='/registration_form/registration.html';">Daftar</button>
          <button type="button" class="btn btn-outline-info" onclick="window.location.href='#';">Login</button>
        </div>
      </div>
      <!-- End of Register Float -->
  
      <!-- WhatsApp -->
      <div class="float-whatsapp">
        <a href="https://wa.me/whatsappphonenumber" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
      <!-- End of WhatsApp -->
  
      <!-- Main -->
      <div class="container-fluid text-center">
        <h2 class="main-space">Apa saja keunggulan Tokutei Ginou?</h2>
        <div class="row row-center">
          <div class="col-lg-4 col-md-6">
            <div class="card card-size">
              <div class="p-3">
                <i class="fa-solid fa-yen-sign icon-size"></i>
              </div>
              <p class="card-body">Biaya yang relatif lebih murah</p>
              <p class="card-text">
                Biaya Tokutei Ginou relatif Lebih murah dibandingkan program
                magang
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-size">
              <div class="p-3">
                <i class="fa-solid fa-door-open icon-size"></i>
              </div>
              <p class="card-body">Dapat berpindah perusahaan</p>
              <p class="card-text">
                Dapat perpindah perusahaan dengan bidang yang sama. Memungkinkan
                pindah bidang jika memiliki sertifikat kemampuan di bidang yang
                dituju.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-size">
              <div class="p-3">
                <i class="fa-solid fa-people-roof icon-size"></i>
              </div>
              <p class="card-body">Bisa membawa keluarga ke jepang</p>
              <p class="card-text">
                Dengan visa Tokutei ginou anda dapat membawa keluarga kejepang
                dengan syarat harus ke tokutei ginou 2 go
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-size">
              <div class="p-3"><i class="fa-solid fa-clock icon-size"></i></div>
              <p class="card-body">Masa yang panjang</p>
              <p class="card-text">
                Dibandingkan Program magang, Tokutei Ginou memiliki masa bekerja
                yang lebih panjang bahkan bisa sampai 10 tahun dengan toktei ginou
                2 go.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-size">
              <div class="p-3"><i class="fa-solid fa-clock icon-size"></i></div>
              <p class="card-body">
                Kesempatan untuk mengajukan visa Permanen Resident(PR)
              </p>
              <p class="card-text">
                Jika anda telah bekerja dan tinggal serta mentaaati peraturan yang
                berlaku di jepang selama 10 tahun, Anda bisa mendapatkan permanen
                residen dengan syarat dan ketentuan yang berlaku.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-size">
              <div class="p-3">
                <i class="fa-solid fa-person-cane icon-size"></i>
              </div>
              <p class="card-body">Usia tidak jadi masalah</p>
              <p class="card-text">
                Tokutei Ginou memiliki batasan usia yang lebih panjang. Tidak
                sedikit pula, orang indonesia dengan usia diatas 35 tahun bisa
                bekerja selama memiliki sertifikat dan semangat yang dibutuhkan.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Main -->
  
      <!-- Chart Bar -->
      <div class="container-fluid data-data">
        <div class="row row-fit">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>
              Keberangkatan, Dalam Pengurusan, dan Job Matching di PT. Watari
            </h2>
  
            <div class="row row-text">
              <div class="col-4 item-inside">
                <p>Tokutei Ginou dari PT. Watari</p>
                <div class="outerline">
                  <i class="fa-solid fa-users icon-orang-tg"></i>
                </div>
                <h3 class="count" data-count="4000">0</h3>
              </div>
  
              <div class="col-4 item-inside">
                <p>Dalam Proses Pengurusan</p>
                <div class="outerline">
                  <i class="fa-regular fa-building icon-orang-tg"></i>
                </div>
                <h3 class="count" data-count="3000">0</h3>
              </div>
  
              <div class="col-4 item-inside">
                <p>Total Job yang Tersedia</p>
                <div class="outerline">
                  <i class="fa-solid fa-suitcase icon-orang-tg"></i>
                </div>
                <h3 class="count" data-count="2000">0</h3>
              </div>
            </div>
          </div>
  
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="con-box">
              <canvas id="boxchart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Chart Bar -->
  
      <!-- Affiliasi -->
      <div id="affiliasi" class="container">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div id="minoti-group" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                      <img src="/image/minori_group/minori_logo.gif" class="d-block aff-size" alt="Image 1">
                    </div>
                  </div>
  
                  <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                      <img src="/image/minori_group/akari_logo.png" class="d-block aff-size" alt="Image 2">
                    </div> 
                  </div>
                  <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                      <img src="/image/minori_group/nagomi_logo.png" class="d-block aff-size" alt="Image 3">
                    </div> 
                  </div>
                  <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                      <img src="/image/minori_group/takumi_logo.png" class="d-block aff-size" alt="Image 3">
                    </div>                  
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h1> Lokasi Watari Here </h1>
            </div>
          </div>
        </div>
        
  
      </div>
  
      <!-- End Of Affiliasi -->
  
      
    </body>